# /etc/systemd/system/watch-chap.service

[Unit]
Description=Monitor chap-secrets file for changes
After=network.target

[Service]
Type=simple
ExecStart=/home/admin/change_detect.sh
Restart=always
RestartSec=10
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
